language: python
python:
  - "3.6"
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y gnuplot
install:
  - pip install -r requirements.txt --upgrade
before_script: cd postprocess/py/
script: pwd && PYTHONPATH=. pytest --cov=nestpp/ tests
after_success: pwd && codecov
notifications:
  email:
    recipients:
      - ankursinha@fedoraproject.org
    on_success: never
    on_failure: always
