language: python
python:
  - "3.6"
  - "nightly"
install: pip install -r requirements.txt
before_script: cd postprocess/py/
script: pwd && PYTHONPATH=. pytest --cov=./ tests
after_success: pwd && codecov
notifications:
  email:
    recipients:
      - ankursinha@fedoraproject.org
    on_success: never
    on_failure: always
